    /* MOBILE FIRST */
    
    * {
        font-family: 'Poppins', sans-serif;
    }
    
    body {
        background-image: url(./images/bg-intro-mobile.png);
        background-color: #ff7978;
        display: flex;
    }
    
    .project-info {
        align-items: center;
        text-align: center;
    }
    
    .project-info-title {
        color: #fffdff;
        font-size: 30px;
    }
    
    .project-info-explanation {
        color: #ffe9e8;
        font-size: 18px;
        word-break: keep-all;
    }
    
    .free-evaluation {
        display: flex;
        background: #5d54a3;
        color: #fefdff;
        align-items: center;
        text-align: center;
        margin: 1rem auto;
        padding: 1rem;
        width: 83%;
        height: 3rem;
        border-radius: .625rem;
    }
    
    .component-fieldset {
        background: #fffeff;
        border: none;
        border-radius: .625rem;
        width: 84%;
        margin-left: 1rem;
    }
    
    .component-input {
        display: block;
        margin: .625rem .820rem;
        padding: 1rem;
        width: 80%;
        border: 1px solid #e3e3e3;
    }
    
    .form-button {
        background: #37cc8a;
        color: #dffff8;
        font-weight: 600;
        display: flex;
        margin: auto;
        width: 80%;
        padding: 1rem;
        justify-content: center;
        border: none;
        border-radius: .625rem;
        transition: 600ms;
        cursor: pointer;
    }
    
    .form-button:hover {
        background: #28af81;
        transition: 600ms;
    }
    
    .terms-services {
        color: #bfbdc9;
        font-size: 13.2px;
        text-align: center;
    }
    
    .terms-services-link {
        color: #f38793;
        text-decoration: none;
        transition: 400ms;
    }
    
    .terms-services-link:hover {
        color: #d06279;
        transition: 400ms;
    }
    
    ::-webkit-input-placeholder {
        font-weight: 500;
    }

    /* RESPONSIVIDADE PARA TABLETS */

    @media screen and (min-width: 768px) {
        .project-info {
            margin-right: 6rem;
            margin-left: 6rem;
        }

        .free-evaluation {
            display: flex;
            background: #5d54a3;
            color: #fefdff;
            justify-content: center;
            margin: 1rem auto;
            padding: 1rem;
            width: 80%;
            height: 2rem;
            border-radius: .625rem;
        }

        .component-fieldset {
            background: #fffeff;
            border: none;
            border-radius: .625rem;
            width: 80%;
            margin-left: 4rem;
        }

        .component-input {
            display: block;
            margin: 1.25rem 2.8rem 1.25rem 2.8rem;
            padding: 1rem;
            width: 80%;
            border: 1px solid #e3e3e3;
        }
    }

    /* RESPONSIVIDADE PARA DESKTOPS */
    
    @media screen and (min-width: 1024px) {
        body {
            background-image: url(./images/bg-intro-desktop.png);
            display: flex;
        }

        .project-info {
            position: absolute;
            text-align: left;
            top: 30%;
            left: 20%;
        }

        .component-fieldset {
            background: #fffeff;
            border: none;
            border-radius: .625rem;
            position: absolute;
            left: 60%;
            top: 25%;
            height: 53%;
            width: 30%;
        }

        .free-evaluation {
            position: absolute;
            background: #5d54a3;
            color: #fefdff;
            justify-content: center;
            left: 63.37%;
            top: 16%;
            height: 2%;
            width: 29.5%;
            border-radius: .625rem;
        }

        .component-input {
            display: block;
            margin: 2rem 2rem 0 2rem;
            padding: 1rem;
            width: 80%;
            border: 1px solid #e3e3e3;
        }

        .form-button {
            background: #37cc8a;
            color: #dffff8;
            font-weight: 600;
            display: flex;
            margin: 1rem auto;
            width: 80%;
            padding: 1rem;
            justify-content: center;
            border: none;
            border-radius: .625rem;
            transition: 600ms;
            cursor: pointer;
        }
    }